<div class="card">
  <div class="card-header">Movie form</div>
  <div class="card-body">
    <div class="row">
      <form class="col-9" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="movieTitle">Title</label>
          <input
            name="title"
            class="form-control"
            id="movieTitle"
            placeholder="Enter title"
            formControlName="title"
          />
          @if (movieForm.controls.title.invalid &&
          movieForm.controls.title.dirty) {
          <div class="invalid-feedback">Title required</div>
          }
        </div>
        <div class="form-group">
          <label for="movieGenre" class="d-block">Genre</label>
          <ngm-genre-control formControlName="genre"></ngm-genre-control>
          @if (movieForm.controls.genre.invalid &&
          movieForm.controls.genre.dirty) {
          <div class="invalid-feedback">Genre required</div>
          }
        </div>
        <div class="form-group">
          <label for="movieYear">Year</label>
          <input
            name="year"
            class="form-control"
            id="movieYear"
            placeholder="Enter year"
            formControlName="year"
          />
          @if (movieForm.controls.year.invalid &&
          movieForm.controls.year.dirty){
          <div class="invalid-feedback">Year required</div>
          }
        </div>
        <div class="form-group">
          <label for="moviePlot">Plot</label>
          <input
            name="plot"
            class="form-control"
            id="moviePlot"
            placeholder="Enter plot"
            formControlName="plot"
          />
          @if (movieForm.controls.plot.invalid &&
          movieForm.controls.plot.dirty){
          <div class="invalid-feedback">Plot required</div>
          }
        </div>
        <div class="form-group">
          <label for="moviePoster">Poster</label>
          <input
            name="poster"
            class="form-control"
            id="moviePoster"
            placeholder="Enter poster"
            formControlName="poster"
          />
        </div>
        <div class="my-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="movieForm.invalid"
          >
            Save
          </button>
          <a [routerLink]="['/movies']" class="btn btn-outline-secondary mx-2"
            >Cancel</a
          >
        </div>
        @if (movieForm.errors?.['wrongSciFiYear'] && movieForm.dirty){
        <div class="invalid-feedback">
          Sci-Fi movies were introduced after 1902
        </div>
        }
      </form>
      <div class="col-3">
        <img
          ngmMovieImageFallback
          class="w-100"
          [src]="movieForm.controls.poster.value"
        />
      </div>
    </div>
  </div>
</div>
