<ng-container *ngIf="authService.isAuthenticated">
  <h1>Welcome!</h1>
  <a class="btn btn-outline-primary" routerLink="movies">
    Navigate to movies section
  </a>
</ng-container>
<div
  class="card"
  style="width: 30vw"
  *ngIf="!authService.isAuthenticated"
  [formGroup]="loginForm"
>
  <form class="card-body">
    <h3 class="card-title">Movies app login form</h3>
    <div class="mb-3">
      <label class="form-label"> User </label>
      <input type="text" class="form-control" formControlName="user" />
    </div>
    <div class="mb-3">
      <label class="form-label"> Password </label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <button href="#" class="btn btn-primary" (click)="submit()">Log in</button>
  </form>
</div>
<br />
<div class="alert alert-danger" style="width: 30vw" *ngIf="error">
  {{ error }}
</div>
